html, body {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	background: #F6F6F6;
}

body {
	min-width: 1280px;
}
.wrapper {
	width: 1280px;
	margin: 0 auto;
}

header {
	width: 1200px;
	height: 60px;
	margin: 0px 40px;
	padding-top: 60px;
	display: flex;
	justify-content: space-between;
}
.logo {
	width: 184px;
	height: 60px;
}
.logo a {
	text-decoration: none;
}
.logo_title h1 {
	margin-top: 0px;
	height: 35px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 31.7px;
	line-height: 35px;
	display: flex;
	align-items: flex-start;
	letter-spacing: 0.06em;
	color: #F1CDB3;
	margin-bottom: 5px;
}

.logo_subtitle {
	margin-left: 4px;
	width: 179.8px;
	height: 25px;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	display: flex;
	align-items: center;
	letter-spacing: 0.1em;
	color: #FFFFFF;
}
nav {
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	justify-content: space-between;
	width: 443px;
	height: 27px;
}

.link a {
	text-decoration: none;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #CDCDCD;
	flex: none;
	order: 0;
	flex-grow: 0;

}

.link_active a {
	border-bottom: 3px solid #F1CDB3;
	text-decoration: none;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #FAFAFA;
	padding-bottom: 4px;
}
.link:hover {
	border-bottom: 3px solid #F1CDB3;
}

.start_screen_content {
	display: flex;
	margin: 0px auto 0 40px;
	width: 1200px;
	height: 788px;

}
.start_screen {
	background-image:url(../../assets/images/start-screen-gradient-background.png);
	background-size: 100%;
}
.start_screen_content_content {
	width: 460px;
	margin: 185px 0 0px 0px;
}
.start_screen_content_image {
	margin: 60px auto 0 40px;
	width: 698px;
	height: 100%;
	background: url(../../assets/images/start-screen-puppy.png) no-repeat;
}
.heading h2 {
	width: 310px;
	height: 114px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 44px;
	line-height: 130%;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	margin-bottom: 45px;
}
.subheading p {
	width: 460px;
	height: 72px;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	display: flex;
	align-items: center;
	color: #CDCDCD;
	margin-bottom: 40px;
}

.start_screen_content_button a {
	text-decoration: none;
	background: #F1CDB3;
	border-radius: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 44px;
	border: none;
	width: 120px;
	height: 25px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.06em;
	color: #292929;
	transition: transform 0.8s;
}
.start_screen_content_button a:hover {
	background: #FDDCC4;
}
.about {
	height: 408px;	
	padding: 80px 40px 100px 40px;
	background: white;
}
.about_container {
	display: flex;
	justify-content: center;
	column-gap: 115px;
	width: 1200px;
	height: 408px;
}
.about_pets {
	width: 300px;
	height: 408px;
	background: url(../../assets/images/about-pets.png);
}
.about_content {
	padding-top: 15px;
	width: 430px;
	height: 365px;
}
.about_content h3 {
	width: 370px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 45px;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	margin: 0px;
	color: #545454;
}
.about_content p {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	margin-top: 25px;
	margin-bottom: 25px;
	color: #4C4C4C;
}

.pets_container {
	width: 1200px;
	height: 697px;
}
.pets {
	padding: 80px 40px 100px 40px;
	height: 697px;
	background: #F6F6F6;
}
.pets_header h3 {
	width: 400px;
	height: 90px;
	margin: auto;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 45.5px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
}
.pets_items_container {
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pets_card {
	height: 435px;
	width: 270px;
	background: #FAFAFA;
	border-radius: 10px;
	margin: 0 45px;
}
.pets_card:hover {
	box-shadow: 0px 5px 10px 2px aquamarine;
	background: aquamarine;
	cursor: pointer;
}
.pets_arrow_left, .pets_arrow_right {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 23px 19px;
	width: 52px;
	height: 52px;
	left: 0px;
	top: 192px;
	border: 2px solid #F1CDB3;
	box-sizing: border-box;
	border-radius: 100px;	
}
.pets_arrow:hover {
	cursor: pointer;
	background-color: #F1CDB3;
}
.pets_arrow_left {
	background: url(../../assets/images/Arrow.svg) 50% no-repeat;
	margin-right: 7px;
}
.pets_arrow_right {
	background: url(../../assets/images/Arrow.svg) 50% no-repeat;
	margin-left: 7px;
	transform: scaleX(-1);
}
.pets_button {
	width: 171px;
	height: 22px;
	padding: 15px 45px;
	margin: 60px auto 0 auto;
	background: #F1CDB3;
	border-radius: 100px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.05em;
	transition: 0.5s;
}
.pets_button a {
	text-decoration: none;
	color: #292929;
}
.pets_button:hover {
	background: #FDDCC4;
	border: none;
	transform: scale(1.3);
}
.card_image {
	width: 270px;
	height: 270px;
}
.pets_card:nth-child(2) .card_image {
	background:url(../../assets/images/pets-katrine.png);
}
.pets_card:nth-child(3) .card_image {
	background:url(../../assets/images/pets-jennifer.png);
}
.pets_card:nth-child(4) .card_image {
	background:url(../../assets/images/pets-woody.png);
}
.card_name {
	margin: 30px auto;
	width: 83px;
	height: 23px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
}
.card_button {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 151px;
	padding: 13px 15px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	margin: 0px auto;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 22.1px;
	letter-spacing: 0.06em;
	color: #292929;
	transition: 0.5s;
}
.pets_card:hover .card_button {
	background: #F1CDB3;
}
.help {
	background: white;
	height: 431px;
	padding: 80px 40px 100px 40px;
}
.help_header h3 {
	width: 310px;
	height: 90px;
	margin: auto;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
}
.help_items {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 120px;
	row-gap: 50px;
	margin: 55px auto 0 auto;
}

.hep_card_text {
	margin: auto;
}
.help_card_text h4 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
	margin: 25px auto 0 auto;
}
.help_card_image {
	padding-top: 5px;
	text-align: center;
	vertical-align: middle;
}
.donation {
	padding: 80px 182px 100px 182px;
	background: #F6F6F6;
}
.donation_container {
	align-items: center;
	justify-content: space-between;
	display: flex;
	width: 915px;
	height: 282px;
}
.donation_content {
	align-self: flex-end;
	width: 380px;
}
.donation_image {
	width: 505px;
	height: 261px;
	background: url(../../assets/images/donation-dog.png);
}
.donation_header h3 
{
	width: 300px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 130%;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 20px;
}
.donation_card_info {
	width: 308px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	display: flex;
	align-items: center;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 20px;
}
.donation_card_number {
	margin-bottom: 20px;
	padding: 10px 15px 10px 60px;
	width: 279px;
	height: 23px;
	background: #F1CDB3;
	border-radius: 9px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	background: url(../../assets/images/credit-card.svg) no-repeat #F1CDB3 5% 50%;
	transition: transform 0.5s;
}
.donation_card_number:hover {
	background-color: #FDDCC4;
	transform: scale(1.2);
}
.donation_card_number a {
	text-decoration: none;
	color:#545454;
}
.donation_card_text {
	width: 380px;
	height: 72px;
	font-family: 'Arial';
	font-style: italic;
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	display: flex;
	align-items: center;
	color: #B2B2B2;
}
footer {
	padding: 40px 40px 0 40px;
	background: url(../../assets/images/footer-background.png);
}
.footer_container {
	display: flex;
	column-gap: 160px;
}
footer h3 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	margin-top: 15px;
}
.footer_contacts {
	width: 279px;
}
.footer_contacts h3 {
	width: 279px;
}
.footer_address h3 {
	width: 270px;
}
.footer_image {
	width: 300px;
	height: 310px;
	background:url(../../assets/images/footer-puppy.png);
}
footer a {
	text-decoration: none;
	color: #F1CDB3;
}
footer h4 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	color: #F1CDB3;
}
.footer_address_item {
	vertical-align: middle;
	margin-bottom: 35px;
	min-height: 32px;
	width: 260px;
	padding-left: 42px;
	background: url(../../assets/images/icon-marker.png) no-repeat 0%;
}
 
.footer_email {
	margin-top: 45px;
	vertical-align: middle;
	margin-bottom: 40px;
	min-height: 32px;
	width: 240px;
	padding-left: 62px;
	background: url(../../assets/images/icon-email.svg) no-repeat 0%;
}
.footer_number {
	vertical-align: middle;
	margin-bottom: 35px;
	min-height: 32px;
	width: 240px;
	padding-left: 62px;
	background: url(../../assets/images/icon-phone.svg) no-repeat 0% 50%;
}