html, body {
	max-width: 1280px; 
	margin: 0 auto !important; 
	float: none !important; 
	padding: 0;
	scroll-behavior: smooth;
	background: #F6F6F6;
}

.wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}

header {
	max-width: 1280px;
	width: 100%;
	height: 120px;
	margin: 0px auto;
	padding: 30px 40px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	border: 0px solid black;
	position: fixed;
	top: 0;
	background: white;
	z-index: 1;
}
.logo {
	z-index: 3;
	width: 184px;
	height: 60px;
}
.logo a {
	text-decoration: none;
}
.logo_title h1 {
	margin-top: 0px;
	height: 35px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
	display: flex;
	align-items: flex-start;
	letter-spacing: 0.06em;
	color: #545454;
	margin-bottom: 5px;
}

.logo_subtitle {
	margin-left: 4px;
	width: 181px;
	height: 25px;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	display: flex;
	align-items: center;
	letter-spacing: 0.1em;
	color: #292929;
}
nav {
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	justify-content: space-between;
	width: 443px;
	height: 27px;
}

nav .link a {
	text-decoration: none;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #545454;
	flex: none;
	order: 0;
	flex-grow: 0;

}
nav .link_active a {
	padding-bottom: 4px;
	border-bottom: 3px solid #F1CDB3;
	text-decoration: none;
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 160%;
	color: #292929;
	flex: none;
	order: 0;
	flex-grow: 0;
}
.active_menu .link:hover {
	border-bottom: 3px solid #F1CDB3;
}
.hidden_menu .link a:hover {
	border-bottom: 3px solid #F1CDB3;
}
.hidden_menu {
	position: absolute;
	margin-top: 0px;
	right: -100%;
	top: 0;
	visibility: hidden;
	opacity: 0;
	width: 320px;
	background: white;
	height: 100vh;
	transition: 0.5s;
	z-index: 2;
}
.hidden_menu.opened {
	display: block;
	right: 0;
	}
.hidden_menu .logo {
	margin: 30px 0px 0px 10px;
}

.hidden_menu_container {
	margin-top: 19.3vh;}
	
.hidden_menu .link a {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 160%;
}
.hidden_menu .link {
	margin-bottom: 40px;
	text-align: center;
}
.hidden_menu .link_active a{
}
.burger {
	z-index: 4;
	display: none;
}
.burger_hidden {
     position: relative;
     display: block;
     width: 30px;
     height: 18px;
     margin: 19px 45px 0 auto;
     border-top: 2px solid black;
     border-bottom: 2px solid black;
     transition: 0.5s;

}
.burger_hidden:before {
     content: "";
     position: absolute;
     top: 8px;
     left: 0px;
     width: 100%;
     border-top: 2px solid black;
}
.burger_hidden.active {
	transform: rotate(-90deg);
}

.hidden_menu_field {
	display: none;
	position: absolute;
	width: 100vh;
	height: 300vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
} 
.pets {
	background: #F6F6F6;
	margin-top: 120px;
	padding: 80px 40px 100px 40px;
}
.pets_container h3 {
	margin: auto;
	width: 400px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 45px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
}

.pets_items_container {
	display: grid;
	grid-template-columns: repeat(4, 270px);
	grid-column-gap: 40px;
	grid-row-gap: 30px;
	margin-top: 60px;
	/*flex-wrap: wrap;
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	row-gap: 30px;*/
}
.pets_card {
	height: 435px;
	width: 270px;
	background: #FAFAFA;
	border-radius: 9px;

}
.pets_card:hover {
	box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
	cursor: pointer;
}
.pets_button {
	width: 171px;
	height: 22px;
	padding: 15px 45px;
	margin: 60px auto 0 auto;
	background: #F1CDB3;
	border-radius: 100px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 130%;
	letter-spacing: 0.05em;
	color: #292929;
	transition: 0.5s;
}
.pets_button:hover {
	background: #FDDCC4;
	border: none;
}
.card_image {
	width: 270px;
	height: 270px;
}

.card_name {
	margin: 30px auto;
	width: 83px;
	height: 23px;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: #545454;
}
.card_button {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 152px;
	padding: 13px 15px;
	border: 2px solid #F1CDB3;
	border-radius: 100px;
	margin: 0px auto;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 22.1px;
	letter-spacing: 0.06em;
	color: #292929;
	transition: 0.5s;
}
.pets_card:hover .card_button {
	background: #FDDCC4;
	border: none;
}
.pagination_container {
	width: 340px;
	margin: 60px auto 0px auto;
	display: flex;
	justify-content: space-between;
}
.pagination_container button {
	text-align: center;
	vertical-align: middle;
	width: 52px;
	height: 52px;
	border-radius: 100px;
	border: 2px solid #F1CDB3;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.06em;
}


button:disabled,button[disabled] {
	border: 2px solid #CDCDCD;

}
.pagination_container button:hover {
	
}
.paginator {
	background: #F1CDB3;
}

button:not(:disabled):hover {
	background: #F1CDB3;
	cursor: pointer;
}
footer {
	z-index: 5;
	padding: 40px 40px 0 40px;
	background: url(../../assets/images/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer_container {
	display: flex;
	column-gap: 159px;
	flex-wrap: wrap;
}
footer h3 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
	color: #FFFFFF;
	margin-top: 16px;
}
.footer_contacts {
	width: 279px;
}
.footer_contacts h3 {
	width: 279px;
}
.footer_address h3 {
	width: 270px;
}
.footer_image {
	width: 301px;
	height: 310px;
	background:url(../../assets/images/footer-puppy.png);
}
footer a {
	text-decoration: none;
	color: #F1CDB3;
}
footer h4 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
	color: #F1CDB3;
}
.footer_address_item {
	vertical-align: middle;
	margin-bottom: 35px;
	min-height: 32px;
	width: 260px;
	padding-left: 42px;
	background: url(../../assets/images/icon-marker.png) no-repeat 0%;
}
 
.footer_email {
	margin-top: 45px;
	vertical-align: middle;
	margin-bottom: 40px;
	min-height: 32px;
	width: 215px; /*240*/
	padding-left: 62px;
	background: url(../../assets/images/icon-email.svg) no-repeat 0%;
}
.footer_number {
	vertical-align: middle;
	margin-bottom: 35px;
	min-height: 32px;
	width: 215px;
	padding-left: 62px;
	background: url(../../assets/images/icon-phone.svg) no-repeat 0% 50%;
}
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	top: 0;
	left: 0;
	visibility: hidden;
	opacity: 0;
}
.popup_container {
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.popup_content{
	width: 952px;
	height: 552px;
	z-index: 3;
}
.popup_info {
	top: 50%;
	margin: 0 auto 0 auto;
	border-radius: 9px;
	display: flex;
	width: 900px;
	height: 500px;
	background: #FAFAFA;
	z-index: 3;
}
.popup_pet_name h3 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 0.06em;
	color: #000000;
	margin-top: 0px;
	margin-bottom: 10px;
}
.popup_pet_type h4 {
	font-family: 'Georgia';
	margin-top: 0px;
	margin-bottom: 40px;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 0.06em;
}
.popup_pet_description h5 {
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 17px;
	letter-spacing: 0.06em;
	margin-top: 0px;
	margin-bottom: 40px;
}
.popup_pet_list ul {
	padding-left: 15px;
	list-style-image: url(../../assets/images/dot.png);
}
.popup_pet_list ul li {
	vertical-align: middle;
	font-family: 'Georgia';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 16.5px;
	letter-spacing: 0.06em;
	margin-bottom: 12px;
}
.popup_image {
	width: 500px;
	height: 500px;
	background-position:50% 50%;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 9px;
}
.popup_close_button {
	background: url(../../assets/images/Vector.png) no-repeat 50% 50%;
	width: 52px;
	height: 52px;
	border: 2px solid #F1CDB3;
	box-sizing: border-box;
	border-radius: 100px;
	margin-left: 96%;
	top: 0;
	right: 0;
}
.popup_area {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}
.popup a:hover {
	cursor: pointer;
}
.popup_text {
	margin-top: 50px;
	margin-left: 30px;
	width: 351px;
	height: 362px;
}
.popup_close_button:hover {
	background-color: #FDDCC4;
}
@media (max-width: 1279px) {
	header {
		padding-left: 30px;
		padding-right: 30px;
	}
	.pets_items_container {
		grid-template-columns: repeat(2, 270px);
		margin: 30px auto 0px auto;
		width: 580px;
	}
	.pets_card {
		margin: auto;
	}
	.pets_card:nth-child(7) {
		display: none;
	}
	.pets_card:nth-child(8) {
		display: none;
	}
	.pagination_container {
		margin-top: 40px;
	}
	footer {
		padding: 15px 20px 0 20px;

	}
	.footer_container {
		margin: 0 auto;
		max-width: 728px;
		justify-content: center;
		column-gap: 60px;
		row-gap: 25px;

	}
	.pets {
		padding-bottom: 75px;
	}
	.popup_content{
	width: 682px;
	height: 402px;
	z-index: 3;
	}
	.popup_info {
		border-radius: 9px;
		display: flex;
		width: 630px;
		height: 350px;
		background: #FAFAFA;
		z-index: 3;
	}
	.popup_pet_name h3 {
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 35px;
		line-height: 45px;
		letter-spacing: 0.06em;
		color: #000000;
		margin-top: 0px;
		margin-bottom: 10px;
	}
	.popup_pet_type h4 {
		font-family: 'Georgia';
		margin-top: 0px;
		margin-bottom: 20px;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
	}
	.popup_pet_description h5 {
		font-size: 13px;
		line-height: 14px;
		margin-bottom: 20px;
	}
	.popup_pet_list ul {
		padding-left: 15px;
		list-style-image: url(../../assets/images/dot.png);
	}
	.popup_pet_list ul li {
		vertical-align: middle;
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 16.5px;
		letter-spacing: 0.06em;
		margin-bottom: 7px;
	}
	.popup_image {
		min-width: 350px;
		width: 350px;
		max-height: 350px;
		border-radius: 9px;
		background-size: 100%;
		background-position: 0% 50%;
	}
	.popup_close_button {
		width: 52px;
		height: 52px;
		border: 2px solid #F1CDB3;
		box-sizing: border-box;
		border-radius: 100px;
		margin-left: 95%;
		top: 0;
		right: 0;
	}
	.popup_area {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
	}
	.popup a:hover {
		cursor: pointer;
	}
	.popup_text {
		margin-top: 10px;
		margin-left:10px;
		max-width: 260px
		height: 303px;
	}
	.popup_text div {
		max-width: 261px;
	}
}
@media (max-width: 767px) {
	.burger {
		display: block;
	}
	header {
		padding: 30px 10px 10px 10px;
	}
	.active_menu {
		display: none;
	}
	#burger {
		margin-right: 45px;
	}
	.pets_card {
		margin: auto;
	}
	.pets {
		padding: 42px 10px 43px 10px;
	}
	.pets_items_container {
		grid-template-columns: repeat(1, 270px);
		margin: 42px auto 0px auto;
		width: 270px
	}
	.pets_container h3 {
		margin: auto;
		width: 300px;
		font-size: 25px;
		line-height: 32px;
	}
	.pagination_container {
		width: 300px;
		margin-top: 41px;
	}
	.pets_card:nth-child(4) {
		display: none;
	}
	.pets_card:nth-child(5) {
		display: none;
	}
	
	.pets_card:nth-child(6) {
		display: none;
	}
	footer h3 {
		font-size: 25px;
		line-height: 32px;
		text-align: center;
		margin-top: 15px;
	}
	footer {
		padding: 17px 10px 0 10px;
	}
	.footer_container {

		width: 300px;
		row-gap: 20px;
	}
	.footer_email {
		margin: 42px 0 0 10px;
		background-position: 2% 50%;
	}
	.footer_email h4 {
		width: 192px;
	}
	.footer_number {
		margin: 42px 0 0 15px;
		background-position: 2% 50%;
	}
	.footer_address h3 {
		font-size: 25px;
		line-height: 32px;
		text-align: center;
		margin: 15px auto -5px auto;
	}
	.footer_address_item {
		margin-top: 45px;
		margin-bottom: 15px;
	}
	.footer_image {
		width: 260px;
		height: 269px;
		background-size: 260px 269px;
	}
	.popup_area {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 2;
	}
	.popup_content{
		width: 270px;
		min-height: 293px;
		z-index: 3;
	}
	.popup_info {
		border-radius: 9px;
		display: flex;
		width: 240px;
		height: auto;
		background: #FAFAFA;
		z-index: 3;
	}
	.popup_pet_name h3 {
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 35px;
		line-height: 45px;
		letter-spacing: 0.06em;
		color: #000000;
		margin-top: 0px;
		margin-bottom: 10px;
		text-align: center;
	}
	.popup_pet_type h4 {
		font-family: 'Georgia';
		margin-top: 0px;
		margin-bottom: 20px;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
		letter-spacing: 0.06em;
		text-align: center;
	}
	.popup_pet_description h5 {
		text-align: justify;
		font-size: 13px;
		line-height: 14px;
		margin-bottom: 25px;
	}
	.popup_pet_list ul {
		padding-left: 15px;
		list-style-image: url(../../assets/images/dot.png);
		margin-bottom: 0px;
	}
	.popup_pet_list ul li {
		vertical-align: middle;
		font-family: 'Georgia';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 16.5px;
		letter-spacing: 0.06em;
		margin-bottom: 7px;
	}

	.popup_image {
		display: none;
	}
	.popup_close_button {
		width: 52px;
		height: 52px;
		border: 2px solid #F1CDB3;
		box-sizing: border-box;
		border-radius: 100px;
		margin-left: 86%;
		top: 0;
		right: 0;
	}
	.popup a:hover {
		cursor: pointer;
	}
	.popup_text {
		margin-top: 10px;
		margin-left:10px;
		width: 220px;
		height: auto;
	}
	.popup_text div {
		box-sizing: content-box;
		max-width: 220px;
	}
}